h1, h2 {
    font-family: "oswald";
    color: darkblue;
}

body {
    font-family: "open sans";
    color: darkblue;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    width: 950px;
    background-color: ivory;
}

img {
    float: left;
}