/* General */  

/* Typography */  

/* block styling */  

/* Form styling */  

/* Styling the products display */ 
 

body {
    width: 800px;
    margin: 0 auto; 
    color:darkred;
}

img {
    width: 200px;
    height: 200px;
}

h1, h2 {
    text-align: center;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-image: url("../SmartPhoneProducts1/images/phone_globe.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

div {
    border: 5px solid black;
    display: flex;
}

footer {
    text-align: center;
}

