.header {
    background-color: rgb(253, 198, 207);
}

.header img {
    width: 1000px;
    height: 10%;
    float: initial;
    
}

.navbar {
    background-color: white;
    padding: 10px;
}

.navbar a {
    font-size: 30px;
}


body {
    text-align: center;
    background-color: rgb(236, 236, 236);
}













