h1, h2 {
    font-family: "Oswald";
    color: yellow;
}

body {
    font-family: "Open Sans";
    color: yellow;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    width: 950px;
    background-color: black;
}

img {
    float: left;
    padding: 1em;
}

.left {
    float: left;
    width: 300px;
    padding: 1em;
}

.right {
    float: right;
    width: 300px;
    padding: 1em;
}

.center {
    margin-left: 300px;
    margin-right: 300px;
    padding: 1em;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li {
    display: inline;
}

#navbar a {
    margin: 15px;
    padding: 15px;
}